@model Trash_Collector.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountOwed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOwed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeeklyPickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeeklyPickupDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialPickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialPickupDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupPauseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupPauseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumePickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumePickupDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
